<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        android:allowBackup="true"
        android:icon="@drawable/tachometer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/tachometer"
        android:supportsRtl="true"
        android:name=".KarooWattSpeedApplication"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="de.timklge.karoowattspeed.KarooWattSpeedExtension"
            android:exported="true"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="io.hammerhead.karooext.KAROO_EXTENSION" />
            </intent-filter>
            <meta-data
                android:name="io.hammerhead.karooext.EXTENSION_INFO"
                android:resource="@xml/extension_info" />
        </service>

        <!-- Provide Karoo System with information about delivery of your app -->
        <meta-data
            android:name="io.hammerhead.karooext.MANIFEST_URL"
            android:value="$BASE_URL$/manifest.json" />
    </application>

</manifest>